  body {
    background-color: rgb(24, 81, 83);
    background-size: cover;
    height: 80vh;
    width: 80vh;
  }
  

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  
    position: relative;
    left: 620px;
    top: 50px;
 }


